{% extends 'base.html.twig' %}

{% block body %}


<h3>Les dernières annonces publiées</h3>
<hr />
    <div class="advert_display">
    {% for advert in adverts %}
        <div class="well">

            {% if advert.id is not null %}
            <a href="{{ path('advert_show', { 'id': advert.id }) }}"><h5> {{ advert.title }} </h5></a>
                {% if advert.image is not null %}
                    <a href="{{ path('advert_show', { 'id': advert.id }) }}"><img class="advert_display_img" src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}"></a>
                    {% else %}
                        <a href="{{ path('advert_show', { 'id': advert.id }) }}"><img class="advert_display_img" src="{{ asset('public/images/aucune.jpg') }}" alt="Aucune image"></a>
                {% endif %}
                <div class="advert_infos">Catégorie : <a href="{{ path('advByCat', { 'category': advert.category }) }}">{{ advert.category }}</a> | par : {{ advert.author }}</div><br />
            {% else %}
                Actuellement, il n'y a aucune annonce publiée!
            {% endif %}

        </div>
<hr />
    {% else %}
        <li>Pas (encore !) d'annonces</li>
    {% endfor %}
    </div>
<hr />
<h3>Les différentes catégories d'annonces</h3>
    {{ render(controller("AppBundle:Advert:viewCategories", {'limit': 5})) }}
    <ul><li><a href="">Proposer une catégorie</a></li></ul>
{% endblock %}
