<h1>Les dernières annonces publiées</h1>
<hr />
<div class="advert_display">
    {% for adverts in adverts %}
        <div class="well">

            {% if adverts is not null %}
                <a href="{{ path('advert_show', { 'id': adverts.id }) }}"><h4> {{ adverts.title }} </h4></a>
                {% if adverts.image is not null %}
                    <a href="{{ path('advert_show', { 'id': adverts.id }) }}"><img class="advert_display_img" src="{{ asset(adverts.image.webPath) }}" alt="{{ adverts.image.alt }}"></a>
                {% else %}
                    <a href="{{ path('advert_show', { 'id': adverts.id }) }}"><img class="advert_display_img" src="{{ asset('public/images/aucune.jpg') }}" alt="Aucune image"></a>
                {% endif %}
                <div class="advert_infos">Catégorie : <a href="{{ path('advByCat', { 'catName': adverts.category }) }}">{{ adverts.category }}</a></div><br />
            <br />
            {% else %}
                Actuellement, il n'y a aucune annonce publiée!
            {% endif %}

        </div>

    {% else %}
        Actuellement, nous n'avons aucune annonce à vous proposer ! Postez en une !
    {% endfor %}
</div>
