{# src/AB/PlatformBundle/Resources/views/Advert/menu.html.twig #}

{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}
<div class="menu">

<h4><a href="{{ path('advert_index') }}">Accueil</a></h4>
<h4>Les annonces</h4>
<ul>
  <li><a href="{{ path('advert_search') }}">Rechercher</a></li>
  <li><a href="{{ path('advert_showAll') }}">Toutes les annonces</a></li>
  <li><a href="{{ path('advert_new') }}">Déposer une annonce</a></li>
</ul>
<h4>Mon compte</h4>
<ul>
    {% if app.user is not null %}
      <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
      <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
        <li><a href="{{ path('adverts_user') }}">Mes annonces</a></li>
    {% else %}
  <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
  <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
    {% endif %}
</ul>
<h4>Dernières annonces</h4>
<ul>
  {% for advert in listAdverts %}
    <li>
      <a href="{{ path('advert_show', {'id': advert.id}) }}">
        {{ advert.title }}
      </a>
    </li>
  {% endfor %}
</ul>
</div>
