<div class="menuAddAdvert"><a href="{{ path('advert_new') }}">Déposer une annonce</a></div>
<div class="menu">
    <div class="titreMenu">Les annonces</div>
<ul>
  <li><a href="{{ path('advert_showAll') }}"><i class="fas fa-eye"></i> Toutes les annonces</a></li>
  <li><a href="{{ path('advert_new') }}"><i class="fa fa-plus-circle"></i> Déposer une annonce</a></li>
</ul>
    <hr />
    <div class="titreMenu">Mon compte</div>
<ul>
    {% if app.user is not null %}
      <li><a href="{{ path('fos_user_security_logout') }}"><i style='font-size:18px' class='fa'>&#xf2f5;</i> Déconnexion</a></li>
      <li><a href="{{ path('fos_user_profile_show') }}"><i class="fas fa-user-alt"></i> Mon profil</a></li>
        <li><a href="{{ path('adverts_user') }}"><i class="fas fa-caret-square-right"></i> Mes annonces</a></li>
    {% else %}
  <li><a href="{{ path('fos_user_security_login') }}"><i class="fas fa-sign-in-alt"></i> Se connecter</a></li>
  <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user-plus"></i> Créer un compte</a></li>
    {% endif %}
</ul>

    {% if app.user == "Administrateur" %}
        <hr />
    <div class="titreMenu">Administration</div>
<ul>
    <li><a href="{{ path('admin_index') }}"><i class="fas fa-user-secret"></i> Tableau de bord</a></li>
    <li><a href="{{ path('show_advert_unvalid') }}"><i class="fas fa-bell"></i> Annonces en attente</a></li>
    <li><i class="fas fa-pen-alt"></i> Gestion annonces</li>
    <li><a href="{{ path('advert_categories') }}"><i class="fas fa-pen-alt"></i> Gestion catégories</a></li>
    <li><i class="fas fa-user-check"></i> Gestion membres</li>
</ul>
    {% endif %}


</div>
