{% extends 'base.html.twig' %}

{% block body %}

<h2>{{ advert.title }}</h2>
  <div class="advert_author">Proposé par : {{ advert.author }} dans la Catégorie : <a href="{{ path('advByCat', { 'catName': advert.category }) }}">{{ advert.category }}</a></div>
<hr />
{# On vérifie qu'une image soit bien associée à l'annonce #}
{% if advert.image is not null %}
  <img class="advert_img" src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}">
    {% else %}
      <img class="advert_display_img" src="{{ asset('public/images/aucune.jpg') }}" alt="Aucune image">
{% endif %}

  <div class="well">
    <br />
    <div class="advert_price">Prix : {{ advert.price }} €</div>
    <hr />
    <h4>Descriptif de l'annonce</h4>
    {{ advert.content }}
  </div>
    <hr />
    <div class="well">
      <h4>Contacter le vendeur</h4>
      <b>Département :</b> {{ advert.department }}<br />
      <b>Ville :</b> {{ advert.city }}<br />
      <b>Adresse email :</b> {{ advert.email }}<br />
        {% if advert.tel is not null %}
      <b>Téléphone :</b> {{ advert.tel }}
        {% endif %}
    </div>
    <hr />
    <h4>Localisation de l'objet :</h4>
<div id="map"></div>
  <p>
    <a href="{{ path('advert_index') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('advert_edit', { 'id': advert.id }) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer l'annonce" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce ?');">
            {{ form_end(delete_form) }}
  </p>


{% endblock %}
