{% extends 'base.html.twig' %}

{% block body %}

    <h2>Les annonces en attente de validation</h2>

    <div class="validateAdverts">
        Il y a actuellement :<span style = 'color: red;'>{{ render(controller("AppBundle:Admin:countUnvalid")) }}</span> annonces non validées
        <hr/>
        <ul>
            {% for advert in advert %}
                {% if advert.id is not null %}
                    <div class="row">
                        <div class="col-md-9">

                            <h5>
                                <li><a href="{{ path('advert_show', { 'id': advert.id }) }}"> {{ advert.title }}</a> -
                                    <a href="{{ path('advert_show', { 'id': advert.id }) }}">Voir l'annonce</a></li>
                            </h5>
                            {{ form_start(validForm) }}
                            {{ form_widget(validForm) }}
                            <input class="btn btn-primary" type="submit" value="Valider l'annonce" />
                            {{ form_end(validForm) }}
                        </div>
                    </div>
                    <hr />
                {% endif %}
            {% else %}
                <li>Aucune annonce en attente de validation</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
